body {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0px 0px 0px 0px;
}

#main {
	margin: 0 auto auto;
	text-align:center;
	width: 800px;
}

#entries
{
	width: 599px;
	max-width:599px;
	width:expression(if(this.clientWidth>599)this.width=599);
		margin-right: -1px;
	padding-right: 0px;
}

#side
{
	width: 198px;
}