<iq from='jabber.voipster.com' to='aveggiani@jabber.voipster.com/Zoep' id='xmpp_poll_id' type='result'><query xmlns='jabber:iq:version'><name>ejabberd</name><version>0.9.8</version><os>unix/linux 2.6.10</os></query></iq><iq from='jabber.voipster.com' to='aveggiani@jabber.voipster.com/Zoep' id='xmpp_poll_id' type='result'><query xmlns='jabber:iq:version'><name>ejabberd</name><version>0.9.8</version><os>unix/linux 2.6.10</os></query></iq>